[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = {extras = ["crt"], version = "*"}
flask-restful = "*"
pytest = "*"
python-dotenv = "*"
celery = {extras = ["sqs"], version = "*"}
pycurl = "*"
pytest-dependency = "*"

[dev-packages]
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
jupyterlab = "*"

[requires]
python_version = "3.9"
